<%
  title = "rails web apps using the #{@database.name.downcase} database"
  description = "A categorized list of Ruby on Rails web apps using the #{@database.name} database."

  set_meta_tags(
    title: title,
    description: description,
    canonical: database_tech_stack_url(@database.slug),
    og: {
      title: title,
      description: description,
    },
    twitter: {
      title: title,
      description: description,
    },
    prev: @prev_page ? database_tech_stack_url(@database.slug, page: @current_page - 1) : nil,
    next: @next_page ? database_tech_stack_url(@database.slug, page: @current_page + 1) : nil
  )
%>

<article class="article">
  <%= render "shared/sites_by_technology", sites: @sites %>

  <div class="mt-2 pagination">
    <% if @prev_page %>
      <%= link_to "◂ prev", database_tech_stack_path(page: @current_page - 1), class: "no-visited" %>
    <% end %>
    <% if @next_page %>
      <%= link_to "next ▸", database_tech_stack_path(page: @current_page + 1), class: "no-visited" %>
    <% end %>
  </div>
</article>
