<%
  title = "Frequently Asked Questions"
  description = "Answers to common questions about our collection of Ruby on Rails web apps built with the Rails framework."
  set_meta_tags(
    title: title,
    description: description,
    og: {
      title: title,
      description: description,
    },
    twitter: {
      title: title,
      description: description,
    }
  )
%>
<article class="article">
  <header>
    <h1><%= title %></h1>
    <p><%= description %></p>
  </header>
  <section>
    <h2>What is We Use Rails?</h2>
    <p>We Use Rails is a curated directory of web apps built with Ruby on Rails. Our platform showcases a diverse range of businesses and projects powered by the Rails framework.</p>
  </section>
  <section>
    <h2>Is We Use Rails free to use?</h2>
    <p>We Use Rails is free to browse and search for web apps. It is also free to submit a Rails web app for inclusion in our directory.</p>
  </section>
  <section>
    <h2>How can I submit my Rails web app?</h2>
    <p>To submit your Rails web app, just sign up and fill out the submission form.</p>
  </section>
  <section>
    <h2>How can I update my Rails web app's details?</h2>
    <p>Minor updates to your Rails web app's details can be requested by contacting us. For major updates or changes, please submit a new listing with the updated information.</p>
  </section>
  <section>
    <h2>I don't see the category I want. Can I still submit my Rails web app?</h2>
    <p>We provide over 800 categories to choose from when submitting your web app. If you don't see the category you want, please contact us, and we'll be happy to assist you.</p>
  </section>
  <section>
    <h2>I don't see the technology I used. Can I still submit my web app?</h2>
    <p>Upon submission, you can select "Other" as the technology used when submitting your web app. If you'd like to suggest a new technology for inclusion in our directory, please contact us.</p>
  </section>
  <section>
    <h2>I don't want to disclose my tech stack. Can I still submit my web app?</h2>
    <p>While we encourage transparency and openness in our directory, you can choose not to disclose your tech stack when submitting your web app. However, providing detailed information about your tech stack can boost your web app's visibility and credibility.</p>
  </section>
  <section>
    <h2>We are a Rails consultancy. Can we submit our web apps?</h2>
    <p>Yes, Rails consultancies are welcome to submit their web apps to We Use Rails. We encourage you to showcase your work and share your expertise with the Rails community.</p>
  </section>
  <section>
    <h2>Can I submit a web app built with other frameworks?</h2>
    <p>No, We Use Rails is exclusively for web apps built with Ruby on Rails. If you're looking to showcase a web app built with another framework, we recommend exploring other platforms that cater to your needs.</p>
  </section>
  <section>
    <h2>My project is not a web app. Can I still submit it?</h2>
    <p>Yes, as long as your project is built with Ruby on Rails, you can submit it to We Use Rails. We accept a wide range of projects, from web apps and APIs to mobile apps and games.</p>
  </section>
</article>
