secret_key_base:

google_sign_in:
  client_id:
  client_secret:

cloudflare:
  account_id:
  access_key_id:
  secret_access_key:
  bucket:

telegram_bot_token:
telegram_bot_chat_id:

x:
  api_key:
  api_key_secret:
  access_token:
  access_token_secret:

bsky:
  handle:
  app_password

mission_control:
  http_basic_auth_user:
  http_basic_auth_password:

smtp:
  username:
  password:

turnstile:
  site_key:
  secret_key:
