<%
  title = "rails web apps using the #{@testing_tool.name.downcase} testing tool"
  description = "A categorized list of Ruby on Rails web apps using the #{@testing_tool.name} testing tool."

  set_meta_tags(
    title: title,
    description: description,
    canonical: testing_tool_tech_stack_url(@testing_tool.slug),
    og: {
      title: title,
      description: description,
    },
    twitter: {
      title: title,
      description: description,
    },
    prev: @prev_page ? testing_tool_tech_stack_url(@testing_tool.slug, page: @current_page - 1) : nil,
    next: @next_page ? testing_tool_tech_stack_url(@testing_tool.slug, page: @current_page + 1) : nil
  )
%>

<article class="article">
  <%= render "shared/sites_by_technology", sites: @sites %>

  <div class="mt-2 pagination">
    <% if @prev_page %>
      <%= link_to "◂ prev", testing_tool_tech_stack_path(page: @current_page - 1), class: "no-visited" %>
    <% end %>
    <% if @next_page %>
      <%= link_to "next ▸", testing_tool_tech_stack_path(page: @current_page + 1), class: "no-visited" %>
    <% end %>
  </div>
</article>
