.article h1,
.article h2,
.article h3 {
  font-weight: bold;
  max-width: 80ch;
}

.article header,
.article section {
  max-width: 80ch;
}

.article section {
  margin-top: 1.5rem;
}

.article .ul {
  list-style: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.article p {
  margin-top: 0.5rem;
}
