.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.no-visited:visited {
  color: var(--link-color);
}

.text-sm {
  font-size: 0.9rem;
}

.text-green-600 {
  color: var(--green-600);
}

.text-red-600 {
  color: var(--red-600);
}

.text-pink-600 {
  color: var(--pink-600);
}

.text-yellow-600 {
  color: var(--yellow-600);
}

.w-full {
  width: 100%;
}

.font-bold {
  font-weight: 700;
}

.inline-flex {
  display: inline-flex;
}

.gap-1 {
  gap: 0.25rem;
}
